/*=============== BUTTON ===============*/
.button{
   background-color: var(--white-color);
   color: var(--black-color);
   font-weight: var(--font-bold);
   padding: .5rem 1.5rem .5rem .5rem;
   border-radius: 4rem;
   display: inline-flex;
   align-items: center;
   column-gap: .75rem;

   & span{
      background-color: var(--first-color);
      padding: .5rem;
      font-size: 1.25rem;
      border-radius: 50%;
      display: grid;
      place-items: center;
      transition: transform .4s;
   }
   &:hover span{
      transform: translateX(.15rem) rotate(-30deg);
   }
   &__link{
      color: var(--white-color);
      font-weight: var(--font-bold);
      text-decoration: underline;
      transition: color .4s;

      &:hover{
         color: var(--first-color);
      }
   }
}
